@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* hero section */
.hero-wrapper {
  max-width: 80%;
}

/* hero-header */
.hero-section {
  border: 1px solid black;
  height: 600px;
  display: flex;
  justify-content: center;
  
/* overlay effect */
  min-height:100%;
  background:url("images/Apple.jpg");
  background-size:cover;
  box-shadow:inset 0 0 0 2000px rgba(10, 10, 10, 0.3);
}

.hero-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.hero-section .links {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-section .links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.links ul {
  display: flex;
  gap: 30px;
}

.hero-section .links li:hover{
  cursor:pointer;
  color:black;
}

/* hero-content*/

.hero-image {
  width: 550px;
  height: 250px;
  background-image:url("images/airpods.gif");
  
  border-radius: 10px;
  
}

.hero-content {
  display: flex;
  justify-content: space-between;

  margin-top: 100px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;

  flex-basis: 500px;
}

.hero-text h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: extra-bold;
}

.hero-text .btn {
  padding-top: 10px;
}

.hero-text button {
  background: black;
  border: none;
  color: #eee;
  padding: 8px 35px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor:pointer;
}

.hero-text button:hover{
  background:rgba(0,0,0,0.5);
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
}

/* Info section */

.info-section {
  height: 500px;
  display: flex;
  justify-content: center;
}

.info-wrapper {
  max-width: 80%;
}

.info-title {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.info-title h2 {
  font-size: 36px;
  color: #1f2937;
}

.box-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.box1,
.box2,
.box3,
.box4 {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  color: grey;
  font-weight: 400;
  
  row-gap: 20px;
}

.box-container .box1 .box {
  border: 4px solid chocolate;
  background: url(images/homepod-mini.jpg);
  background-size:cover;
  background-position:center;
  border-radius: 20px;
  height: 160px;
  width: 160px;
}

.box-container .box1 .box:hover{
  height: 250px;
  width: 200px;
  z-index:1;
}

.box-container .box2 .box {
  border: 4px solid chocolate;
  background: url(images/Apple-watch.jpg);
  background-size:cover;
  background-position:center;
  border-radius: 20px;
  height: 160px;
  width: 160px;
}

.box-container .box2 .box:hover{
  height: 250px;
  width: 200px;
  z-index:1;
}


.box-container .box3 .box {
  border: 4px solid chocolate;
  background: url(images/Apple-tv-stick.jpg);
  background-size:cover;
  background-position:center;
  border-radius: 20px;
  height: 160px;
  width: 160px;
}

.box-container .box3 .box:hover{
  height: 250px;
  width: 200px;
  z-index:1;
}

.box-container .box4 .box {
  border: 4px solid chocolate;
  background: url(images/watch-2.png);
  background-size:cover;
  background-position:center;
  border-radius: 20px;
  height: 160px;
  width: 160px;
}

.box-container .box4 .box:hover{
  height: 250px;
  width: 200px;
  z-index:1;
}

/* quote section */

.quote-section {
  background: #e5e7eb;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-text p {
  font-size: 34px;
  color: #1f2937;
  font-style: italic;
  font-weight: lighter;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.quote-author {
  display: flex;
  justify-content: flex-end;
}

.quote-author p {
  font-size: 25px;
  color: #1f2937;
  font-weight: 900;
}

.quote-wrapper {
  width: 60%;
}
/* call to action */

.call-to-action {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action .wrapper {
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: chocolate;
  height: 150px;
}

.text h3 {
  font-size: 25px;
  color: #f9faf8;
  font-weight: lighter;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.text p {
  color: #ddd;
  font-size: 18px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.wrapper .btn button {
  background: #820000;
  border:none;
  color: white;
  padding: 10px 35px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wrapper .btn button:hover{
  background:rgba(255, 255, 255, 0.1);
  cursor:pointer;
}

/* footer */
.footer {
  background: #1f2937;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.footer p {
  color: white;
  font-size: 18px;
  font-weight: lighter;
}
